<!DOCTYPE html>
<html lang="en">
<head>
	<title>Vue.js Lab-5 Session</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="libs/prism.css">
	<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="shower/themes/material/styles/screen-16x10.css">
	<link rel="stylesheet" href="styles.css">
</head>
<body class="shower list">
	<header class="caption">
		<h1>Vue.js - Lab5 Session</h1>
		<p>by Indrajith K L</p>
	</header>
	<section class="slide" id="cover">
		<img src="pictures/logo.png" width="200px">
		<h2>Vue.js</h2>
		<p>Lab5 Presentify Session by <a href="http://indrajithkl.bitbucket.org">Indrajith K L</a></p>
		<img src="pictures/cover.jpg" alt="" class="cover">
		<!--
			To apply styles to the certain slides
			set slide ID to get needed elements
			-->
		<style>
			#cover h2 {
				margin:30px 0 0;
				color:#FFF;
				text-align:center;
				font-size:70px;
				}
			#cover p {
				margin:10px 0 0;
				text-align:center;
				color:#FFF;
				font-style:italic;
				font-size:20px;
				}
				#cover p a {
					color:#FFF;
					}
			img{
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
			.embed {
				height:300px;
			}
		</style>
	</section>
	<section class="slide">
		<h2>You! Not you! him! Evan You.</h2>
		<img src="pictures/evan.you.jpg" class="next embed img-responsive ">
	</section>
	<section class="slide">
		<h2>Ha another JS lover! Why do we need an another framework if we have AngularJS, React JS ....</h2>
		<ol>
			<li>Because it's light weight. <i class="glyphicon glyphicon-leaf pull-right"></i></li>
			<li>Because it's simpler in API and Design. <i class="glyphicon glyphicon-send pull-right"></i></li>
			<li>Because no one is going to impose you a specific architecture. <i class="glyphicon glyphicon-thumbs-up pull-right"></i></li>
			<li>Because it's Component Based <i class="glyphicon glyphicon-tasks pull-right"></i></li>
			<li>Because you can build an application in no time. <i class="glyphicon glyphicon-time pull-right"></i></li>
			<li>Sounds interesting....? <i class="glyphicon glyphicon-heart-empty pull-right"></i></li>
		</ol>
		<p class="note">Can be considered as an lightweight alternative to AngularJS</p>
	</section>
	<section class="slide">
		<h2>So what is Vue.js then?</h2>
		<img src="pictures/morpheus.jpg" class="next embed img-responsive ">
	</section>
	<section class="slide">
		<h2>So what is Vue.js then?</h2>
		<img src="pictures/picard-facepalm.jpg" class="embed img-responsive ">
	</section>
	<section class="slide">
		<h2>So what is Vue.js then?</h2>
		<ol>
			<li>Vue.js only(not at all) focus on view layer only. Basically Vue.js follows MVVM patterns.</li>
			<li>When used with suitable libraries a complete SPA can be implemented.</li>
			<img src="pictures/kickass.png" class="next embed img-responsive" height="200px">
		</ol>
	</section>
	<section class="slide">
		<h2>Any other features?</h2>
		<ol>
			<li>Reactive Data Binding</li>
			<img src="pictures/mvvm.png" class="next embed img-responsive" height="200px">
		</ol>
	</section>
	<section class="slide">
		<h2>Any other features?</h2>
		<pre><code class="language-html"><xmp><div id="example-1">Hello {{ name }}!</div></xmp></code></pre>
		<pre><code class="language-javascript">
		// this is our Model
		var exampleData = {  name: 'Vue.js' }

		// create a Vue instance, or, a "ViewModel"
		// which links the View and the Model
		var exampleVM = new Vue({
		  el: '#example-1',
		  data: exampleData
		})
		</code></pre>
	</section>
	<section class="slide">
		<h2>Any other features?</h2>
		<ol>
			<li>Component System</li>
			<img src="pictures/components.png" class="next embed img-responsive" height="200px">
		</ol>
	</section>
	<section class="slide">
		<h2>Any other features?</h2>
		<ol>
			<li>Web Components</li>
			<li>Slots</li>
		</ol>
	</section>
	<section class="slide">
		<h2>Enough! Show me what it can do?</h2>
		<img src="pictures/talktothehand.jpg" class="next embed img-responsive" height="200px">
	</section>
	<section class="slide">
		<h2 class="shout">
			
			The Vue Life Cycle
		</h2>
		<!--<img src="pictures/lifecycle.png" class="next embed img-responsive" height="200px">-->
	</section>
	<section class="slide">
		<h2 class="shout">The Styles</h2>
		
		<!--<img src="pictures/lifecycle.png" class="next embed img-responsive" height="200px">-->
	</section>
	<section class="slide">
		<h2 class="shout">To be continued....</h2>
		
		<!--<img src="pictures/lifecycle.png" class="next embed img-responsive" height="200px">-->
	</section>
	
	<section class="slide">
		<div class="shout shrink" id="MIF">
		<h2>
			Vue.js session <p style="text-align:center; font-weight:normal"> [Part 2]</p>
			<span>Don't be afraid, I will not make you sleepy today</span>
		</h2>
		<style>
			#MIF h2 {
				font-size:100px;
				text-align:center;
				font-weight: bold;
				color:white;
				}
				#MIF h2 span {
					display:block;
					font-size:52px;
					font-weight:normal;
					}
		</style>
	</div>
		<!--<img src="pictures/lifecycle.png" class="next embed img-responsive" height="200px">-->
	</section>
	
	<section class="slide">
		<h4 class="shout">Methods, Event Handlers and other Stuffs</h4>
		
		<!--<img src="pictures/lifecycle.png" class="next embed img-responsive" height="200px">-->
	</section>
	
	<section class="slide grid">
		<h2>Methods</h2>
		<pre>
			<code class="language-javascript">
			  var vm = new Vue({
			     el:'#app',
			     ...
			     ...
			     methods:{
			         myMethod: function(event){
			             alert('Ola');
			         }
			     }
			 });
			 
			 vm.myMethod(); <-- I can call you
			</code>
		</pre>
		<pre>
			<code class="language-html">
				<xmp>
					<div v-on:click="myMethod">Click Me</div>
				</xmp>
			</code>
		</pre>
		<!--<img src="pictures/lifecycle.png" class="next embed img-responsive" height="200px">-->
	</section>
	
	<section class="slide">
		<h2>Inline Statement Handler</h2>
		<pre>
			<code class="language-javascript">
			  var vm = new Vue({
			     el:'#app',
			     ...
			     ...
			     methods:{
			         myMethod: function(event){
			             alert('Ola');
			         },
			         theOtherMethod : function(parameter){
			         	alert(parameter + " is a rebel");
			         }
			     }
			 });
			 
			</code>
		</pre>
		<pre>
			<code class="language-html">
				<xmp>
					<div v-on:click="myMethod">Click Me</div>
					<div v-on:click="theOtherMethod('Indrajith')">Click Me</div>
				</xmp>
			</code>
		</pre>
		
		<!--<img src="pictures/lifecycle.png" class="next embed img-responsive" height="200px">-->
	</section>
	<section class="slide">
		<h2>Event Modifiers, Key Modifiers.... oh boy...</h2>
		<pre>
			<code class="language-html">
				<xmp>
					<!--equivalent to event.preventDefault()-->
					<butoon v-on:click.prevent="myBad()">OK</butoon>
					
					<!--equivalent to event.stopPropogation()-->
					<butoon v-on:click.stop="myBad()">OK</butoon>
					
					<!--chaining modifiers-->
					<butoon v-on:click.stop.prevent="myBad()">OK</butoon>
					
					<!--Holy......-->
					<input type="text" v-on:keyup.delete="globalThermalNuclearWar()"/>
				</xmp>
			</code>
		</pre>
	</section>
	
	<section class="slide">
		<h2>Directives - The Nirvana</h2>
		<pre>
			<code class="language-javascript">
				Vue.directive('love', {
				  bind: function () {
				   	// This is where everything starts -- The Init function
				  },
				  update: function (newValue, oldValue) {
				    // Whenever data in the directive updated, I'm the one who is responsible to handle it
				  },
				  unbind: function () {
				   	// This is where everything ends... Breakup... :P
				  }
				})
				
			</code>
		</pre>
		
		<pre>
			<code class="language-html">
				<xmp>
					<div v-love="blah"></div>
				</xmp>
			</code>
		</pre>
	</section>
	
	<section class="slide">
		<h2>Webpack and Vue Plugins</h2>
		<ol>
			<li>Webpack?</li>
			<li>Bundle everything you want</li>
			<img src="pictures/astonished-face.jpg" class="embed img-responsive" style="height:250px !important">
			<li>Webpack Loaders!</li>
		</ol>
	</section>
	
	<section class="slide">
		<h2>Vue Plugins</h2>
		<ol>
			<li>What are plugins?</li>
			<li>How can I use it?</li>
			<li>Examples</li>
		</ol>
	</section>
	<section class="slide">
		<h2>Vue Plugins - Examples</h2>
		<ol>
			<li><a href="https://github.com/vuejs/vue-resource">vue-resource</a></li></li>
			<li><a href="https://github.com/vuejs/vue-router">vue-router</a></li></li>
			
		</ol>
	</section>
	<section class="slide">
		<h4 class="shout"><a href="https://github.com/vuejs/awesome-vue#open-source" target="_blank">Who are using Vue.js</a></h4>
	</section>
	<section class="slide">
		<h4 class="shout">Thanks</h4>
	</section>

	<!--<section class="slide">-->
	<!--	<h2>Plain text on your slides</h2>-->
	<!--	<p>Lorem ipsum dolor sit amet, consectetur <a href="#4">adipisicing</a> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <em>quis nostrud</em> exercitation ullamco laboris <strong>nisi ut aliquip</strong> ex ea commodo consequat. Duis aute irure <i>dolor</i> in reprehenderit in voluptate velit esse cillum <b>dolore</b> eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in <code>&lt;culpa&gt;</code> qui officia deserunt mollit anim id est laborum.</p>-->
	<!--</section>-->
	<!--<section class="slide">-->
	<!--	<h2>Two columns if you like</h2>-->
	<!--	<p class="double">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>-->
	<!--</section>-->
	<!--<section class="slide">-->
	<!--	<h2>All kind of lists</h2>-->
	<!--	<ol>-->
	<!--		<li>Simple lists are marked with bullets</li>-->
	<!--		<li>Ordered lists begin with a number</li>-->
	<!--		<li>You can even nest lists one inside another-->
	<!--			<ul>-->
	<!--				<li>Or mix their types</li>-->
	<!--				<li>But do not go too far</li>-->
	<!--				<li>Otherwise audience will be bored</li>-->
	<!--			</ul>-->
	<!--		</li>-->
	<!--		<li>Look, seven rows exactly!</li>-->
	<!--	</ol>-->
	<!--</section>-->
	<!--<section class="slide">-->
	<!--	<h2>Serious citations</h2>-->
	<!--	<figure>-->
	<!--		<blockquote>-->
	<!--			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>-->
	<!--		</blockquote>-->
	<!--		<figcaption>Marcus Tullius Cicero</figcaption>-->
	<!--	</figure>-->
	<!--</section>-->
	<!--<section class="slide">-->
	<!--	<h2>Code samples</h2>-->
	<!--	<pre>-->
	<!--		<code>&lt;!DOCTYPE html&gt;</code>-->
	<!--		<code class="mark">&lt;html lang="en"&gt;</code>-->
	<!--		<code><mark>&lt;head&gt;</mark> <mark class="comment">&lt;!--Comment--&gt;</mark></code>-->
	<!--		<code>    &lt;title&gt;Shower&lt;/title&gt;</code>-->
	<!--		<code>    &lt;meta charset="<mark class="important">UTF-8</mark>"&gt;</code>-->
	<!--		<code>    &lt;link rel="stylesheet" href="screen.css"&gt;</code>-->
	<!--		<code><mark>&lt;/head&gt;</mark></code>-->
	<!--	</pre>-->
	<!--</section>-->
	<!--<section class="slide">-->
	<!--	<h2>Even tables</h2>-->
	<!--	<table>-->
	<!--	<tr>-->
	<!--		<th scope="col">Locavore</th>-->
	<!--		<th>Umami</th>-->
	<!--		<th>Helvetica</th>-->
	<!--		<th>Vegan</th>-->
	<!--	</tr>-->
	<!--	<tr>-->
	<!--		<th scope="row">Fingerstache</th>-->
	<!--		<td>Kale</td>-->
	<!--		<td>Chips</td>-->
	<!--		<td>Keytar</td>-->
	<!--	</tr>-->
	<!--	<tr>-->
	<!--		<th scope="row">Sriracha</th>-->
	<!--		<td>Gluten-free</td>-->
	<!--		<td>Ennui</td>-->
	<!--		<td>Keffiyeh</td>-->
	<!--	</tr>-->
	<!--	<tr>-->
	<!--		<th scope="row">Thundercats</th>-->
	<!--		<td>Jean</td>-->
	<!--		<td>Shorts</td>-->
	<!--		<td>Biodiesel</td>-->
	<!--	</tr>-->
	<!--	<tr>-->
	<!--		<th scope="row">Terry</th>-->
	<!--		<td>Richardson</td>-->
	<!--		<td>Swag</td>-->
	<!--		<td>Blog</td>-->
	<!--	</tr>-->
	<!--	</table>-->
	<!--	<p>It’s good to have information organized.</p>-->
	<!--</section>-->
	<!--<section class="slide" id="picture">-->
	<!--	<h2>Pictures</h2>-->
	<!--	<img src="pictures/picture.jpg" alt="" class="cover">-->
		<style>
			#picture h2 {
				color:#FFF;
				}
		</style>
	<!--</section>-->
	<!--<section class="slide">-->
	<!--	<h2 class="shout shrink">You can even shout this way</h2>-->
	<!--</section>-->
	<!--<section class="slide">-->
	<!--	<h2>Inner navigation</h2>-->
	<!--	<ol>-->
	<!--		<li>Lets you reveal list items one by one</li>-->
	<!--		<li class="next">To keep some key points</li>-->
	<!--		<li class="next">In secret from audience</li>-->
	<!--		<li class="next">But it will work only once</li>-->
	<!--		<li class="next">Nobody wants to see the same joke twice</li>-->
	<!--	</ol>-->
	<!--</section>-->
	<!--<section class="slide grid">-->
	<!--	<h2>All nicely aligned to grid</h2>-->
	<!--</section>-->
	<!--<section class="slide" id="see-more">-->
	<!--	<h2 class="shout">-->
	<!--		<img src="pictures/logo.svg" alt="Shower logo">-->
	<!--		<a href="https://github.com/shower/shower">See more on GitHub</a>-->
	<!--	</h2>-->
		<style>
			#see-more h2 {
				font-size:100px
				}
			#see-more img {
				width:0.72em;
				height:0.72em;
				}
		</style>
	<!--</section>-->
	
	<!--
		To hide progress bar from entire presentation
		just remove “progress” element.
		-->
	<div class="progress"></div>
	<script src="shower/shower.min.js"></script>
	<script src="libs/prism.js"></script>
	<!-- Copyright © 2015 Yours Truly, Indrajith K L -->
</body>
</html>
